body{
  background-image: url(img/legno.jpg);
  text-align: center;
  width: 500px;
  margin: auto;
  background-size: cover;

}
#header h1{
  display: inline-block;
  
}


img{
  height: 80px;
  width: 100px;
  margin-left: 0;
}


span{
  background-color: orange;
  border-radius: 100%;
  padding: 5px;

}
ul{
  list-style: none;
  margin: 0;
  padding: 0;

}

li{border: solid 1px black;
  background-color: grey;


}
